nav, header, main, footer { display: block; }
img{width: 100%; height: auto;}
#wrap{width: 1000px; margin: 0 auto;}

header{height: 500px;}
        .div1{background-image: url(bakery2.jpg); width: 100%; height: auto;
            background-repeat: no-repeat; background-size: cover;
            text-align: center;}
        nav{text-decoration: none; background-color:  #F2B6A0; 
            height: auto; padding: 10px; position: sticky; top: 0;}
            a:link{color: #000033;}
            a:visited{color: #344873;}
            a:hover{color: #FFFFFF;}
        .btn {border-radius: 28px; border: none;
            font-family: Arial, Helvetica, sans-serif; color: #ffffff;
            font-size: 20px; background: #73351f; padding: 10px 20px 10px 20px; 
            text-decoration: none; margin: 13% 45% 5% 45%;}
            .btn:hover {background: #40241E;}
    
main{height: auto;  background-color: #F28444;}
        .flex{display: flex; flex-direction: row; flex-wrap: wrap;
            justify-content: space-around; align-items: baseline; 
            align-content: space-around;}
        .polaroid{width: 30%; background-color: whitesmoke;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
        .name{text-align: center;}

footer{height: auto; background-color:#F2B6A0 ; 
        padding: 10px 20px 10px 20px;}
        copyright{font-style: italic; text-align: center;}
